@media (max-width: 300px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .theme-font {
        font-family: 'Architects Daughter', cursive;
        font-size: .5em;
    }

    .myButton {
        background-color: #eaec61a6;
        text-align: center;
        font-size: 20px;
        max-height: 60px;
    }

    p {
        font-size: 10px !important;
    }

  }